body {
  background-color: #FDE67B;
  font-family: Raleway;

}
#confirmPizza {
  display: none;
}

#userAddress {
  display: none;
}

#confirmationDelivery {
  display: none;
}

#confirmationPickup {
  display: none;
}

.jumbotron {
  background-image: url("../img/pizzaheader.jpg");
  background-position: center;
  height: 380px;
  text-align: center;
  padding-top: 30px;
  font-family: Dancing Script;
}

.jumbotron h1 {
  font-size: 200px;
}
